.tarjeta-comentario{
    background-color: #BFC9DE;
    display: flex;
    flex-direction: row;
    max-width: 600px;
    border-radius: 10px 10px 10px 10px;
    margin: 5px auto;
}

/*Para el avatar, parte izquierda de la tarjeta*/
.contenedor-avatar{
  display: flex;
  flex-direction: column;
  max-width: 10%;
  margin: 1em;
}

.titulo-avatar{
  text-align: center;
  color: #282c34;
  font-weight: bold;
}

/*Para el detalle del comentario, parte derecha de la tarjeta*/
.contenedor-comentario{
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 1em;
}

.encabezado-comentario{
  color:#282c34;
  font-weight: bold;
}

.fechas{
  font-size: 11px;
}

.texto-comentario{
  border-top: solid .5px;
  border-top-style: double;
  margin-top: .5em;
}